*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: white;
    padding: 5px;
}

.swiper{
    max-width: 600px;
    margin: 0 auto;
}

.swiper-slide img{
    width: 100%;
}

.swiper-wrapper{
    display: flex;
    align-items: center;
}

.btn-con{
    width: 400px;

}

.btn{
    margin-top: 5px;
}

#logout{
    display: none;
}